<div id="card">
    <div id="inside" [style.background-color] = "backgroundColor">
        <header>
            <div id="left">
                <div id="name">{{pokemon.name}}</div>
            </div>
            <div id="right">
                <div id="hp">{{pokemon.hp}}</div>
                <img class="energy-icon" [src]="pokemonTypeIcon" alt="electric-icon">
            </div>
        </header>
        <figure id="art">
            <img [src]="pokemon.image" alt="picture-of-pikachu">
            <figcaption>{{pokemon.figureCaption}}</figcaption>
        </figure>
        <div id="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="cost">
                        <div class="icon-energy">
                            <img [src]="pokemonTypeIcon" alt="picture-of-pikachu">
                            <img [src]="pokemonTypeIcon" alt="electric-icon">
                        </div>
                        <div class="name">{{pokemon.attackName}}</div>
                        <div class="damage">{{pokemon.attackStrength}}</div>
                    </div>
                </div>
                <div class="description">
                    {{pokemon.attackDescription}}
                </div>
            </div>
        </div>
    </div>
</div>
